<table>
    <tr>
    <p>
        # <%= @search_result.id %>
    </p>
    </tr>
    <tr>
        <th scope="col row">assembly : </th>
        <td scope="col"><%= @search_result.assembly %></td>
    </tr>
    <tr>
        <th scope="row">生物種名 : </th>
        <td><%= @search_result.genus_and_species %></td>
    </tr>
</table>