<main>
    <div id="search_area" class=" container">
        <div id="main_title">
            <p>
                特定の温度に生息する微生物の遺伝子を検索します
            </p>
        </div>
        <%= render partial: 'form', locals: { search: @search } %>            

    </div>
</main>