<div id="root"></div>

<script type="module">
    console.log("test in erb");

    import { show_rare_codons } from "show_rare_codons";
    import { render_searches } from "searches";
    await render_searches();
    show_rare_codons();
</script>