<main>
    <div id="search_condition_area" class=" container">
        <div id="main_title">
            <p>
                特定の温度に生息する微生物の遺伝子の検索結果を表示します
            </p>
        </div>
        <div id="search_condition_content_area" class=" container">
            <div id="search_condition" class=" container">
                <div id="search_condition_jobtitle">
                    <p>jobtitle : <%= @search.jobtitle%></p>
                </div>
            </div>
            <div id="search_filter" class=" container">
            </div>
        </div>
        
    </div>
    <div id="search_result_area" class=" container">
        <div>
            Hit数:
            <%= @blast_results.length.to_s %>
        </div>
        <hr>
        <% (0..@blast_results.length-1).each do |i| %>
            <%= render partial: 'result', locals: {i: i, blast_result: @blast_results[i], tempura: @tempuras[i]} %>
        <% end %>
    </div>
</main>