/* ====== アプリ全体の共通設定 ====== */
:root {
    --color-primary: rgb(223, 239, 253);
    --color-secondary: rgb(240, 238, 238);
    --color-background: rgb(252, 252, 252);
    --color-background-selected: rgb(243, 243, 243);
    --color-background-hover: rgb(235, 235, 235);
    --color-icon: rgb(80, 80, 80);
    --color-icon-hover: rgb(5, 5, 5);
    --color-border: rgb(146, 146, 146);
    --color-background-table-raw-1: rgb(220, 220, 220);
    --color-background-table-raw-2: rgb(245, 245, 245);
}