/* ====== アプリ全体の共通設定 ====== */
:root {
    --color-primary: rgb(223, 239, 253);
    --color-secondary: rgb(240, 238, 238);
    --color-background: rgb(252, 252, 252);
    --color-background-selected: rgb(243, 243, 243);
    --color-background-hover: rgb(235, 235, 235);
    --color-icon: rgb(80, 80, 80);
    --color-icon-hover: rgb(5, 5, 5);
    --color-border-1: rgb(146, 146, 146);
    --color-border-2: rgb(187, 184, 184);
    --color-background-table-raw-1: rgb(220, 220, 220);
    --color-background-table-raw-2: rgb(245, 245, 245);
    --color-background-table-raw-1-lightened: rgb(230, 230, 230);
    --color-background-table-raw-2-lightened: rgb(250, 250, 250);
    --color-text-link: rgb(92, 33, 160);
    --color-text-link-hover: rgb(159, 77, 253);
    --color-text-less-emphasized: rgb(119, 119, 119);
    --color-button-pushed: rgb(180, 180, 180);

    --color-border-highlighted-0: #ca6a5b;
    --color-border-highlighted-1: #db97ff;
    --color-border-highlighted-2: #993bcf;
    --color-border-highlighted-3: #7fbebe;
    --color-border-highlighted-4: #0881a3;
    --color-border-highlighted-5: #ff7a8a;
    --color-border-highlighted-6: #dfd158;
    --color-border-highlighted-7: #63c7a2;
    --color-border-highlighted-8: #30999e;
    --color-border-highlighted-9: #54aa93;
    
}