/* ./search/show */
/* 結果とアライメント部分の横幅 */
.result_area {
    width: 34%;
}

.alignment_area {
    width: 66%;
}

/* リストの点なくす */
.non_dotted_ul {
    padding-left: 0;
}

.non_dotted_li {
    list-style: none;
}

/* リスト文字中央寄せ */
.centered_li {
    width: fit-content;
    margin: auto;
}

/* リスト横並び */
.horizontal_range_ul {
    float: left;
}

/* 文字の改行をなくす */
.nowrap {
    white-space: nowrap;
}

/* アライメントのliの幅を設定 */
.list_width {
    width: 0.8em;
}

/* 結果部分のテーブルのヘッダーの幅を指定 */
.result_th {
    width: 120px;
}

/* 検索条件のテーブルのヘッダーの幅を指定 */
.condition_th {
    width: 150px;
}

/* 検索条件のquery配列が横にはみ出るのを防止 */
.text-wrap {
    white-space: normal;

    /* 必要に応じて長い単語や文字列を折り返す */
    word-wrap: break-word;

    /* あなたの好みの幅に設定してください */
    max-width: 600px;
}

/* 結果のテーブル */
#result_table_organismInfo_alignmentInfo table {
    margin: auto;
    text-align: center;
}
#result_table_multiAlignment table {
    margin: auto;
    text-align: center;
}

/* 結果のテーブルの形 */
#result_table_organismInfo_alignmentInfo th {
    padding: 10px;
}
#result_table_organismInfo_alignmentInfo td {
    padding: 10px;
    min-width: 70px;
}
#result_table_organismInfo_alignmentInfo tr {
    padding: 10px;
}
#result_table_multiAlignment th{ 
    padding: 3px 5px;
}
#result_table_multiAlignment td {
    padding: 3px 0px;
    min-width: 1em;
}
#result_table_multiAlignment tr {
    padding: 3px;
}

/* 結果のテーブルの最初のrawの上下だけ枠線をつける */
#result_table_organismInfo_alignmentInfo tr:nth-child(1) {
    border-top: 2px solid var(--color-border);
    border-bottom: 2px solid var(--color-border);
}

/* 結果のテーブルで奇数と偶数のrawで背景変える */
#result_table_organismInfo_alignmentInfo tr:nth-child(odd) {
    background-color: var(--color-background-table-raw-1);
}
#result_table_organismInfo_alignmentInfo tr:nth-child(even) {
    background-color: var(--color-background-table-raw-2);
}

/* aタグ（リンク）の色と下線を削除 */
.less_styled_link {
    color: var(--color-text-link);
    text-decoration: none;
}

/* 横方向にスクロール可能な要素 */
.horizontal_scrollable {
    width: 100%;           /* 要素の幅を画面幅に合わせる */
    overflow-x: auto;      /* 横方向のスクロールを有効にする */
}

/* 黒の色を若干減らした文字 */
.text_less_emphasized {
    color: var(--color-text-less-emphasized);
}