/* ./search/show */
/* 結果とアライメント部分の横幅 */
.result_area {
    width: 40%;
}

.alignment_area {
    width: 60%;
}

/* リストの点なくす */
.non_dotted_ul {
    padding-left: 0;
}

.non_dotted_li {
    list-style: none;
}

/* リスト文字中央寄せ */
.centered_li {
    width: fit-content;
    margin: auto;
}

/* リスト横並び */
.horizontal_range_ul {
    float: left;
}

/* 文字の改行をなくす */
.nowrap {
    white-space: nowrap;
}

/* アライメントのliの幅を設定 */
.list_width {
    width: 0.8em;
}

/* 結果部分のテーブルのヘッダーの幅を指定 */
.result_th {
    width: 120px;
}

/* 検索条件のテーブルのヘッダーの幅を指定 */
.condition_th {
    width: 150px;
}

/* 検索条件のquery配列が横にはみ出るのを防止 */
.text-wrap {
    white-space: normal;

    /* 必要に応じて長い単語や文字列を折り返す */
    word-wrap: break-word;

    /* あなたの好みの幅に設定してください */
    max-width: 600px;
}