/* ソートorフィルター管理画面 */
.modal {
    display: none;
    position: absolute; /* 画面全体を覆うのではなく、特定の位置に表示 */
    z-index: 2;
    width: auto;
    height: auto;
    background-color: var(--color-background);
    border-radius: 0.5em;
}

/* 設定モーダル */
.modal_bigger {
    display: none;
    position: absolute; /* 画面全体を覆うのではなく、特定の位置に表示 */
    z-index: 2;
    width: 600px;
    height: 300px;
    background-color:var(--color-background);
    border-radius: 0.5em;
}

.hover_background_marked:hover {
    background-color: var(--color-background-hover);
}

/* モーダルの中身 */
.modal_content {
    background-color: var(--color-background);
    padding: 20px;
    margin: 0px;
    min-width: 400px;
    height: auto;
}

/* スクロール禁止用のクラス */
.no_scroll {
    overflow: hidden;
}

/* 要素を文字幅に設定 */
.text_width {
    width: max-content;
}

/* 要素の周りに影をつける */
.shadow_around_element {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

/* フレックスボックスのスタイル */
.flex-container {
    display: flex; /* フレックスコンテナとして定義 */
    align-items: center; /* 子要素を垂直方向の中央に配置 */
    justify-content: center;
    gap: 10px; /* 子要素の間隔を設定 */
}

/* セレクトボックスのスタイル（必要に応じて） */
select {
    flex-grow: 1; /* 各セレクトボックスが利用可能なスペースを均等に使用 */
    max-width: 150px;
}

/* ソート系の表示のラベル */
.sort_show_label {
    background-color: var(--color-primary);
    padding: 0.3em;
    border-radius: 0.5em;
    width: max-content;
    font-size: 0.9em;
    font-weight: bold;
}

/* 強調しない文字 */
.unhighlighted_text {
    font-size: 0.8em;
    font-weight: normal;
}

/* svgアイコン */
svg {
    width: 16px;
    height: 16px;
    fill: var(--color-icon);
}

/* svgアイコン hover */
svg:hover {
    fill: var(--color-icon-hover);
}

/* アイコンの位置調整 */
.icon_filter_condition {
    position: relative;
    top: -8px;
}

/* ====== 設定モーダル内各種設定 ====== */

/* 設定モーダルは要素を横並びにする */
#modal_setting_content {
    display: flex;
    gap: 20px;
}

/* 設定モーダルの左側の設定の種類一覧タブ */
#modal_setting_tabs {
    position: relative;
    width: 30%;
    height: 100%;

    /* 子要素を縦並びにする */
    display: flex;
    flex-direction: column;

    /* デフォルトでできる子要素同士の10pxの隙間をなくす */
    gap: 0;
}

.modal_setting_tab {
    width: 100%;

    /* 枠線は丸く */
    border-radius: 8px;

    /* 文字中央寄せ */
    text-align: center;

    /* 隙間なくす */
    margin-top: 0;
    margin-bottom: 0;
}

/* カーソルがあると色を濃くする */
.modal_setting_tab:hover {
    background-color: var(--color-background-hover);
}

/* 設定モーダルの各設定の内容 */
#modal_setting_contents {
    position: relative;
    width: 60%;
    height: 100%;
}

/* 設定モーダル内容部分タイトル */
.setting_title {
    /* フォントを大きく */
    font-weight: bold;
    font-size: 18px;

    /* 文字中央寄せ */
    text-align: center;
}