/* searchInput.css */

#search_tempInputArea {
    display: flex;
}

#search_tempInputArea>p {
    margin: 10px;
    margin-bottom: 0;
}

#search_tempInputArea>label {
    margin: 10px;
    margin-bottom: 0;
}

.search_tempInput_style {
    height: 30px;
    width: 50px;
}

.search_tempInput_errorArea_style {
    color: red;
    font-size: 10px;
    border-width: 0;
}

.search_tempInput_errorArea_style>p {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 20px;
    display: none;
}