<footer style="position: relative;">
    <div id="explanation_area" class="container py-3">
        <article>
            <h3>当サイトの説明</h3>
            <p>当サイトは、National Center of Biotechnology Information (以下、NCBI) と、TEMPURA: Database of growth TEMPeratures of Usual and RAre prokaryotes (以下、TEMPURA) を組み合わせることで、任意の生育温度を持つ微生物の内、任意の遺伝子を有するものを検索することを可能にしている。</p>
        </article>
        <article>
            <p>
                参考
                <a class="non_styled_link" href="https://blast.ncbi.nlm.nih.gov/Blast.cgi">NCBI BLAST</a>,
                <a class="non_styled_link" href="http://togodb.org/db/tempura">TEMPURA: Database of growth TEMPeratures of Usual and RAre prokaryotes</a>
            </p>
            
        </article>
    </div>
</footer>