<header>
    <div id="headerTitleArea">
        <div id="page_title" class="interactive">
           Thermogene
        </div>
    </div>
    <div id="header_icon">
        <%= image_tag 'icons/favicon-32x32.png', alt: 'トップページに戻る', class: 'mt-1 interactive' %>
    </div>
</header>