<header>
    <div id="headerTitleArea">
        <div id="pageTitle">
           Thermogene
        </div>
    </div>
    <div id="headerIcon">
        <p>
            アイコン
        </p>
    </div>

</header>